p{
    font-family: cursive;
    font-size: 18px;
    color: black; 
}
h1
        background: linear-gradient(to top right, blue 0%,turquoise 90%)
}
a {
    font-size: 18px;
    color: #000000; }
    a:hover {
      color: #000000; }
/* body {
    background="Background crop.jpg" class="index"
    background-color: blue;
} */